---
import { ArrowLeftIcon } from "astro-feather";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Page not found" desc="Page not found">
  <div class="flex items-center justify-center px-6 py-24 h-[80vh]">
    <div class="text-center">
      <h1 class="text-7xl font-normal mb-6 font-serif">404</h1>

      <h2 class="mb-8 text-base text-secondary-text">Page not found</h2>

      <div class="flex justify-center gap-4">
        <a href="/" class="btn-primary">
          <ArrowLeftIcon customClasses="mr-2" size={16} />
          Go Back
        </a>
      </div>
    </div>
  </div>
</Layout>
