---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/bento/Grid.astro";
import GridItem from "../components/bento/Item.astro";
import {
  IntroSection,
  TimezoneSection,
  ContactSection,
} from "../components/section";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="About Maneth"
  desc="A website about Maneth, your family friendly software engineer based in Cambodia."
>
  <main class="p-10">
    <Grid>
      <IntroSection />
      <TimezoneSection />
      <ContactSection />

      <GridItem className="sm:row-span-2" />
      <GridItem className="sm:col-span-2" />
      <GridItem className="sm:row-span-3" />
      <GridItem className="sm:col-span-2" />
      <GridItem className="sm:col-span-2" />
      <GridItem className="sm:col-span-1" />
    </Grid>
  </main>
</Layout>
