---
import Layout from "@/layouts/Layout.astro";
import Grid from "@/components/bento/Grid.astro";
import GridItem from "@/components/bento/Item.astro";
import {
  IntroSection,
  AboutMeSection,
  ExperienceSection,
} from "@/components/section";
import { ArrowRightIcon } from "astro-feather";

const links = [
  { title: "Experience & Achievements", href: "/experience" },
  { title: "Projects", href: "/project" },
  { title: "Writing", href: "/writing" },
];

export const prerender = true;
---

<Layout>
  <Grid className="grid-cols-1 md:grid-cols-2 gap-y-6">
    <IntroSection colSpan="md:col-span-2" />
    <AboutMeSection colSpan="md:col-span-1" />
    <ExperienceSection colSpan="md:col-span-1" />

    {
      links.map((link) => (
        <GridItem className="p-0 hover:bg-neutral-50 transition-colors">
          <a
            href={link.href}
            class="w-full cursor-pointer p-4 h-full flex flex-row justify-between items-center"
          >
            <h2>{link.title}</h2>
            <ArrowRightIcon size={16} />
          </a>
        </GridItem>
      ))
    }
  </Grid>
</Layout>
