---
import GridItem from "../bento/Item.astro";

const { colSpan } = Astro.props;
---

<GridItem className="p-4" colSpan={colSpan}>
  <div class="flex flex-col space-y-2">
    <h2>About me</h2>

    <p class="text-sm">
      Graduated with a Software Engineering degree in 2023. Currently leading
      technical vision at <a
        href="https://dreamslab.dev"
        target="_blank"
        rel="noopener noreferrer"
      >
        dreamslab
      </a>
      as CTO.
    </p>
    <p class="text-sm">
      I thrive in team-based strategy games like Dota 2 and Valorant, where
      tactical thinking meets collaborative execution - much like my approach to
      software development. During downtime, I unwind with lo-fi beats and
      bedroom pop, dive into anime worlds, or get lost in the latest manga.
    </p>
    <p class="text-sm">
      I believe in bringing the same energy to both work and play - always
      learning, adapting, and pushing boundaries. Whether it's coding or
      mastering a new skill, I'm all about embracing the challenge
    </p>
  </div>
</GridItem>
