---
const links = [
  { href: "/writing", title: "Writing" },
  { href: "/project", title: "Project" },
  { href: "/experience", title: "Experience" },
];

const currentPath = Astro.url.pathname;
const isCurrentPage = (path: string) => currentPath.startsWith(path);
---

<div
  class="flex flex-col items-center justify-center py-12 text-xs text-neutral-400"
>
  <div class="flex justify-evenly p-6 w-full">
    {
      links.map((link) => (
        <a href={link.href} class="text-base">
          {link.title + (isCurrentPage(link.href) ? '"' : "")}
        </a>
      ))
    }
  </div>
  <p class="mb-1">© 2025 · Maneth Pak</p>
  <p>
    <a target="_blank" href="https://astro.build/"> Astro </a>
    <span class="mx-1">·</span>
    <a target="_blank" href="https://vercel.com"> Vercel </a>
  </p>
</div>
