---
import GridItem from "../bento/Item.astro";
---

<GridItem className=" flex-col items-center justify-center text-center text-sm">
  <p>
    © 2024 · Design and crafted with ❤️ by
    <a
      href="https://github.com/manethpak"
      target="_blank"
      rel="noopener noreferrer"
      class="underline"
    >
      Maneth.
    </a>
  </p>
  <p>
    Powered by

    <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
      class="underline"
    >
      Astro
    </a>
  </p>
</GridItem>
