---
import GridItem from "../bento/Item.astro";
import Link from "../util/Link.astro";
---

<GridItem className=" flex-col items-center justify-center text-center text-sm">
  <p>
    © 2024 · Design and crafted with ❤️ by
    <Link target="_blank" href="https://github.com/manethpak"> Maneth. </Link>
  </p>
  <p>
    Powered by

    <Link target="_blank" href="https://astro.build/"> Astro </Link>
  </p>
</GridItem>
