---
import GridItem from "../bento/Item.astro";
const { colSpan } = Astro.props;
---

<style>
  h3 {
    @apply text-base font-normal;
  }
  h4 {
    @apply text-sm text-tertiary-text font-normal font-sans;
  }
  time {
    @apply text-xs text-muted-text;
  }
  .description {
    @apply text-sm mt-2 text-secondary-text;
  }
  .view-more {
    @apply mt-4 text-sm;
  }
</style>

<GridItem className="p-4" colSpan={colSpan}>
  <div class="w-full">
    <h2 class="mb-3">Current Role</h2>

    <div>
      <h3>Chief Technology Officer</h3>
      <h4>dreamsLAB</h4>
      <time>Apr 2024 - Present</time>
      <p class="description">
        Leading technical strategy and overseeing all technology operations.
      </p>

      <div class="view-more">
        <a href="/experience">View full work history →</a>
      </div>
    </div>
  </div>
</GridItem>
