---
import { Image } from "astro:assets";
import GridItem from "../bento/Item.astro";
import ProfileImg from "/src/assets/profile.jpg";
import { GithubIcon, LinkedinIcon } from "astro-feather";

const { colSpan } = Astro.props;

const socials = [
  {
    href: "https://www.linkedin.com/in/maneth-pak",
    icon: LinkedinIcon,
  },
  {
    href: "https://github.com/manethpak",
    icon: GithubIcon,
  },
];
---

<GridItem className="justify-between gap-6 flex-col" colSpan={colSpan}>
  <div class="flex flex-col gap-6 justify-between">
    <div>
      <h1 class="text-2xl font-normal mb-3 font-serif">Hey this is, Maneth</h1>
      <div class="flex flex-col gap-2">
        <p>
          Software engineer by day, eternal explorer by nature. By day, I'm a
          software engineer with a passion for building products that help
          people live better lives.
        </p>
        <p>
          I'm constantly seeking new challenges - whether it's solving complex
          puzzles, assembling builds, discovering new hobbies or even trying out
          new taste and experiences from different cultures.
        </p>
      </div>
    </div>

    <div class="flex gap-6 mt-2 items-center">
      {
        socials.map(({ href, icon: Icon }) => (
          <a
            href={href}
            target="_blank"
            class="text-secondary-text hover:text-primary-text transition-colors"
          >
            <Icon size={24} />
          </a>
        ))
      }
      <a href="mailto:manethpak.dev@gmail.com"> manethpak.dev@gmail.com </a>
    </div>
  </div>
</GridItem>
