---
import { Image } from "astro:assets";
import GridItem from "../bento/Item.astro";
import ProfileImg from "/src/assets/profile.jpg";
import { GithubIcon, LinkedinIcon } from "astro-feather";

const { rowSpan, colSpan } = Astro.props;

const socials = [
  {
    href: "https://www.linkedin.com/in/maneth-pak",
    icon: LinkedinIcon,
  },
  {
    href: "https://github.com/manethpak",
    icon: GithubIcon,
  },
];
---

<GridItem
  className="justify-between gap-4 flex-col-reverse md:flex-row"
  rowSpan={rowSpan}
  colSpan={colSpan}
>
  <div class="flex flex-col gap-4 justify-between">
    <div>
      <p class="text-lg">Hi there!</p>
      <h1 class="text-2xl">
        I'm <span class="font-bold">PAK Maneth</span>, A Software Engineer.
      </h1>
      <p class="text-lg mt-2">
        Experienced in designing, developing and delivering software products.
        Curious, passionate and love to learn and try new things. On a journey
        to find peace and happiness in life.
      </p>
    </div>

    <div class="flex gap-4 items-end w-full mt-2">
      {
        socials.map(({ href, icon: Icon }) => (
          <a
            href={href}
            target="_blank"
            class="p-2 flex items-center justify-center hover:-translate-y-1 transition-color duration-300 aspect-square text-white/80 hover:text-white"
          >
            <Icon size={32} />
          </a>
        ))
      }
    </div>
  </div>

  <div class="rounded-xl overflow-hidden self-center">
    <Image
      loading="eager"
      src={ProfileImg}
      alt="Profile"
      width={500}
      height={500}
      class="object-contain object-top"
    />
  </div>
</GridItem>
