---
import { Image } from "astro:assets";
import GridItem from "../bento/Item.astro";
import ProfileImg from "/src/assets/profile.jpg";
import ThemeToggle from "../util/ThemeToggle.astro";

const { colSpan } = Astro.props;

---

<GridItem className="justify-between gap-6 flex-col" colSpan={colSpan}>
  <div class="flex flex-col gap-6 justify-between">
    <div>
      <h1>Hey! Maneth here</h1>
      <div class="flex flex-col sm:flex-row">
        <div class="space-y-2">
          <h2>About me</h2>
          <p>
            A Software Engineer graduate from <a
              href="https://kit.edu.kh"
              rel="noopener noreferrer"
              target="_blank"
              class="hover:underline">KIT,</a
            >
            Cambodia. With over 4 years of industry experience, I've held diverse
            roles across various company stages, from agile startups to large-scale
            enterprises.
          </p>
          <p>
            When not coding, I enjoy strategy games, music, and exploring new
            technologies.
          </p>
        </div>
        <ThemeToggle />
      </div>
    </div>

    <div class="flex gap-6 mt-2 items-center">
      <a href="#quick-contact">Let’s connect →</a>
    </div>
  </div>
</GridItem>
