---
import { cn } from "../../helper/cn";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={cn("grid auto-rows-auto gap-6", className)}>
  <slot />
</div>
