---
import { cn } from "../../helper/cn";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={cn(
    "grid auto-rows-[8rem] sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4",
    className
  )}
>
  <slot />
</div>
