---
import { cn } from "../../helper/cn";

interface Props {
  className?: string;
  rowSpan?: string;
  colSpan?: string;
}

const { className, rowSpan, colSpan } = Astro.props;
---

<div
  class={cn(
    "card",
    "row-span-1 rounded-xl hover:shadow-lg hover:shadow-white/20 transition duration-200 p-8 border-white/[0.2] bg-neutral-800 border text-neutral-200 font-thin flex hover:-translate-y-",
    className,
    rowSpan,
    colSpan
  )}
>
  <slot />
</div>
