---
import GridItem from "@/components/bento/Item.astro";
import { ChevronLeftIcon } from "astro-feather";
---

<GridItem>
  <div class="my-2">
    <div class="flex items-center gap-4">
      <button onclick="window.history.back()">
        <ChevronLeftIcon customClasses="size-6" />
      </button>
      <h1>My skills and tools</h1>
    </div>
    <p class="text-gray-400">
      A comprehensive overview of my technical expertise, certifications, and
      notable achievements throughout my career.
    </p>
  </div>
</GridItem>
